.data {
    border-collapse: collapse;
    width: 100%;
}

.data th, .data td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


.tooltip {
        position: absolute;
        padding: 5px;
        background-color: white;
        border: 1px solid black;
        pointer-events: none;
      }

.country{
    fill: #ccc;
    stroke: #999;
}